<section class="h-screen bg-[#f4e3f1]">
  <section class="flex flex-col items-center">
    <div class="mt-12 mb-6 flex flex-col align-center gap-4">
      <h1 class="font-bold">მომხმარებელთა სია</h1>
      <button
        class="bg-blue-800 text-white rounded-xl p-2"
        (click)="addMode = true"
      >
        დამატება
      </button>
    </div>
  </section>
  <section class="mx-12 border-black border-[1.5px] rounded-[4px] p-[1px]">
    <app-list (userForEdit)="gotUser($event)"></app-list>
  </section>
</section>
<app-add-edit *ngIf="addMode" (closeModal)="onCloseModal()"></app-add-edit>
<app-add-edit
  *ngIf="editMode"
  [userForEdit]="userForEdit"
  (closeModal)="onCloseModal()"
></app-add-edit>
